@model FileInputModel

@{
    ViewData["Title"] = "RunScripts";
}
<h2> Run Script</h2>
<form asp-controller="RunScript" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">

<div class="col-lg-4">
    <label asp-for="ConnectionStringID" class="control-lable"></label>
    <br>
    <select asp-for="ConnectionStringID" asp-items="@(
            new SelectList(ViewBag.Connection,"ConnectionStringID","ConnectionStringName"))" class="form-control">
    <option value="">Select Connection String Name</option>
    </select>
    <br>
    <br>
    <br> 
</div>

<div class="col-lg-4">
    <input type="file" name="FileToUpload" />
@*    <button type="submit">Upload File (model)</button>
*@</div>
<div class="col-lg-4">
    <br>
    <br>
        <input type="submit" value="Run" class="btn btn-primary" />

    <a asp-action="Index" asp-controller="ConnectionString" class="btn btn-secondary">Cancel</a>
</div>
</form>

